.footer{
    position: relative;
    top: 800px;
    background-color: rgba(240, 156, 22, 0.842);
    color: white;
    display: flex;
    justify-content: space-between;
}

.column-1{
    padding: 80px;
}

.peakles{
    display: none;
}

.sneek-peak-res{
    display: none;
}

.tele > span > img{
    width: 20px;
    
}

.tele{
    display: flex;
    justify-content: space-around;
}

.phone-no{
    position: relative;
    bottom: 25px;
    left: -8px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.mail > img{
    max-width: 20px;
    max-height: 20px;
    position: relative;
    left: 15px;
    
}

.mail{
    display: flex;
    justify-content: space-around;
}

.my-mail{
    position: relative;
    bottom: 20px;
    left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.sneek-peak{
    padding: 80px;
}

.sneek-peak > h3{
    /* padding: 80px; */
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

.sneek-peak > h3 > div{
    /* padding: 80px; */
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {

    .footer{
        top: 800px;
        background-color: rgba(240, 156, 22, 0.842);
        color: white;
        width: 100%;
    }

    .sneek-peak-res{
        display: block;
    }

    .sneek-peak-res > h3{
        font-size: 10px;
    }


        


}